.loading {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: #666;
    font-size: 12px;
    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}